<html>
<head>
    <title>{{ .TraderName }} - {{ .Instrument }} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<main>
<div class="container">
  <table id = "trader" class="table">
    <h2>Trader</h2>
    <tr>
      <th>Name</th>
      <td>{{ .TraderName }}</td>
    </tr>
  </table>
  <hr>
  <table id = "instrument" class="table">
    <h2>Instrument</h2>
    <tr>
      <th>Name</th>
      <td>{{ .Instrument }}</td>
    </tr>
    <tr>
      <th>Underlying</th>
      <td>{{ .Underlying }}</td>
    </tr>
    <tr>
      <th>Settlement Date</th>
      <td>{{ .SettlementDate }}</td>
    </tr>
    <tr>
      <th>SPOT</th>
      <td>{{ .SPOT }}</td>
    </tr>
  </table>
  <hr>
  <table id = "cash" class="table">
    <h2>Cash</h2>
    <tr>
      <th>Satoshis</th>
      <td>{{ .Cash }}</td>
    </tr>
  </table>
  <table id = "positions" class="table">
    <h2>Positions</h2>
    <tr>
      <th>Instrument</th>
      <th>Size</th>
      <th>Price</th>
      <th>Mark Price</th>
      <th>Unrealised P&L</th>
    </tr>
    <tr>
      <th>{{ .Instrument }} </th>
      <td>-1</td>
      <td>457410</td>
      <td>{{ .SPOT }}</td>
      <td>45455</td>
    </tr>
    <tr>
      <th>{{ .Instrument }} </th>
      <td>1</td>
      <td>500000</td>
      <td>{{ .SPOT }}</td>
      <td>10000</td>
    </tr>
  </table>

  <hr>
  <table id = "counterparty" class="table">
    <h2>Counterparty</h2>
    <tr>
      <th>Name</th>
      <td>{{ .CounterpartyName }}</td>
    </tr>
    <tr>
      <th>LNAddress</th>
      <td>{{ .CounterpartyLNAddress }}</td>
    </tr>
  </table>
  <hr>
  <table id = "oracle" class="table">
    <h2>Oracle</h2>
    <tr>
      <th>Oracle Public Key</th>
      <td>{{ .Oracle }}</td>
    </tr>
    <tr>
      <th>Oracle Rpoint</th>
      <td>{{ .Rpoint }}</td>
    </tr>
  </table>

  <hr>
</div>
<div class="container">
<table id = "asks" class="table">
  <h2>Asks</h2>
  <tr>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  {{- range .Asks }}
  <tr>
  <td>{{ .Price }}</td>
  <td>{{ .Quantity }}</td>
  </tr>
  {{- end}}
</table>
<form action="/buy" method="post">
    Price: <input type="text" name="price" value="15001">
    Quantity: <input type="text" name="quantity" value="1">
    <input type="submit" value="Buy">
</form>
<hr>
<table id = "bids" class="table">
  <h2>Bids</h2>
  <tr>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  {{- range .Bids }}
  <tr>
  <td>{{ .Price }}</td>
  <td>{{ .Quantity }}</td>
  </tr>
  {{- end}}
</table>
<form action="/sell" method="post">
    Price: <input type="text" name="price" value="15001">
    Quantity: <input type="text" name="quantity" value="1">
    <input type="submit" value="Sell">
</form>
<hr>
</div>
</main>
</body>
<footer>
</footer>
</html>
